<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitung Luas Persegi Panjang</title>
    <style>
        label {
           display: block;
        }
    </style>
</head>
<body>
    <div id="app">
        <label>Panjang</label>
        <input type="text" v-model="panjang">

        <label>Lebar</label>
        <input type="text" v-model="lebar">

        <label>Tinggi</label>
        <input type="text" v-model="luas" readonly>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>
</html>